* {
	text-align: center;
	vertical-align: middle;
	margin: 0;
}

ul {
	margin-left: 0;
	list-style-type: none;
}

a {
	color: black;
	cursor: pointer;
}

h1 {
	font-family: 'League Script', cursive;
}

.splash {
	height: 100vh;
	width: 100vw;
	margin-bottom: 10vh;
}

.couple {
	font-size: 50px;
	letter-spacing: 10px;
	font-weight: lighter;
}

.counter-head {
	margin-bottom: 5v;
}

.pic-main {
	height: 75vh;
	width: 60vw;
	border: 1px solid black;
	margin-top: 10vh;
}

.info-each {
	margin-bottom: 10vh;
}

.info-data {
	font-size: 20px;
	font-weight: lighter;
}

.info-header {
	font-family: 'League Script', cursive;
	font-size: 25px;
}

.info {
	height: 200vh;
	width: 100vw;
}

.nav {
	position: fixed;
	z-index: 5;
	height: 7vh;
	width: 100vw;
	background-color: white;
	color: black;
	font-family: 'Petit Formal Script', cursive;
	border-bottom: 1px solid black;
}

.nav-ul {
	padding-left: 0;
	margin-left: 0;
}

.nav-li {
	display: inline-block;
	margin: 1vh 3vw 1vh 3vw;
	font-size: 20px;
}