* {
	text-align: center;
	vertical-align: middle;
	margin: 0;
	color: white;
}

ul {
	margin-left: 0;
	list-style-type: none;

}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(90,90,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(105,105,0,0);
}

a {
	cursor: pointer;
}

a:hover {
	color: gold;
}

h1 {
	font-family: 'League Script', cursive;
}

.splash {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 500;
	top: 6vh;
 	color: white;
 	background: url(..//img/splash-back.jpg);
 	background-size: 100vw 100vh;

}

.couple {
	font-size: 50px;
	letter-spacing: 10px;
	font-weight: lighter;
}

.all {
	padding-top: 5vh;
}

.counter-head {
	margin-bottom: 5v;
	font-family: 'Mystery Quest', cursive;
}

.pic-main {
	height: 63vh;
	width: 35vw;
	border: 1px solid black;
}

.info-data {
	font-size: 20px;
	font-weight: lighter;
	font-family: Open Sans;
		
}

.info-header {
	font-size: 30px;
	font-family: 'Mystery Quest', cursive;
}

.smaller-header {
	font-size: 15px;
}

.white {
		background-color: rgba(0,0,0,0.4);
		margin-top: 0;
		padding-top: 0;
		height: 300vh;
		width: 100vw;
}

.description-data {
	padding: 20px 20px 5px 20px;
	font-family: Open Sans;
}

.inline {
	color: white;
	padding: 20px 100px 20px 100px;
	margin: 15px;
}

.nav {
	position: fixed;
	z-index: 50;
	height: 7vh;
	width: 100vw;
	color: black;
	font-family: 'Petit Formal Script', cursive;
	background-color: rgba(255,255,255,0.7);

}

.info {
	padding-bottom: 115px;
	padding-top: 85px;
}

.left {
	width: 3vw;
	height: 100vh;
}

.accommodations {
	padding-top: 7vh;
	display: inline-block;
	width: 28vw;
}

.accom {
	color: black;
}

.airports {
	padding-top: 5px;
	padding-bottom: 5px;
}

.hotels {
	padding-top: 5px;
	padding-bottom: 5px;
}

.small-nav {
	display: none;
	padding-top: 7vh;
	margin-bottom: 15px;
}

.small-nav-head {
	display: inline-block;
	font-family: 'Mystery Quest', cursive;
	padding: 3vh;
	font-size: 20px;
	cursor: pointer;
	background: rgba(255,255,255,0.7);
	height: 250px;
	width: 300px;
}

.accom-div{
	width: 100vw;
	padding-top: 0;
	margin-top: 0;
	background: rgba(255,255,255,0.7);
}

.rest {
	display: none;
	padding-top: 7vh;
	height: 300vh;
	width: 100vw;
	background: url(..//img/splash-back.jpg) no-repeat fixed;
	background-size: cover;

}

.small-nav-img {
	height: 150px;
	width: 175px;
	margin: 15px;
	border: 2px solid black;
}

.nav-ul {
	padding-left: 0;
	width: 100vw;
	position: fixed;
	z-index: 2;
	border-bottom: 1px solid black;
	font-weight: bold;
	color: black;
}

.nav-li {
	display: inline-block;
	margin: 1vh 3vw 1vh 3vw;
	font-size: 20px;
	cursor: pointer;
	color: black;
}