* {
	text-align: center;
	vertical-align: middle;
	margin: 0;
	color: white;
}

body {

 	background: url(..//img/splash-back.jpg) no-repeat;
 	background-size: 100vw 100vh;
}

ul {
	margin-left: 0;
	list-style-type: none;
}

a {
	color: black;
	cursor: pointer;
}

h1 {
	font-family: 'League Script', cursive;
}

.splash {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 500;
	top: 10vh;
 	color: white;
}

.couple {
	font-size: 50px;
	letter-spacing: 10px;
	font-weight: lighter;
}

.all {
	padding-top: 5vh;
}

.counter-head {
	margin-bottom: 5v;
}

.pic-main {
	height: 65vh;
	width: 50vw;
	border: 1px solid black;
}

.info-data {
	font-size: 20px;
	font-weight: lighter;
}

.info-header {
	font-family: 'League Script', cursive;
	font-size: 30px;
}

.nav {
	position: fixed;
	z-index: 50;
	height: 7vh;
	width: 100vw;
	background-color: white;
	color: black;
	font-family: 'Petit Formal Script', cursive;

}

.info {
	margin-bottom: 4vh;
}

.gradient-side {
	width: 100vw;
	height: 10vh;
	position: fixed;
	z-index: 1;
  	margin: 0;
 	padding: 0;
	background-color: rgba(255,255,255,0.5);
	color: black; 
}
.gradient-top {
	width: 10vw;
	height: 100vh;
	position: fixed;
	z-index: 1;
	right: 2vw;
  margin: 0;
  padding: 0;
}


.ribbon-slant {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 1vh;
	right: 1vw;
	z-index: 100;
}

.left {
	width: 3vw;
	height: 100vh;
}

.info-each {
	display: none;
}

.accommodations {
	padding-top: 7vh;
	display: inline-block;
	width: 28vw;
}

.small-nav {
	display: none;
	padding-top: 7vh;
}

.small-nav-head {
	display: inline-block;
	font-family: 'Petit Formal Script', cursive;
	padding: 3vh;
	font-size: 20px;
	cursor: pointer;
}

.rest {
	display: none;
	padding-top: 8vh;
}

.small-nav-img {
	height: 150px;
	width: 175px;
}

.nav-ul {
	padding-left: 0;
	width: 100vw;
	position: fixed;
	z-index: 2;
	border-bottom: 1px solid black;
	font-weight: bold;
	color: black;
}

.nav-li {
	display: inline-block;
	margin: 1vh 3vw 1vh 3vw;
	font-size: 20px;
	cursor: pointer;
	color: black;
}