* {
	text-align: center;
	margin: 0;
}

ul {
	margin-left: 0;
	list-style-type: none;
}

a {
	color: #ccc;
	cursor: pointer;
}

.nav-a {
	text-decoration: none;
}

.main {
	height: 100vh;
	width: 100vw;
	display: none;
}

.show {
	display: block;
}

.shade {
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	z-index: 5;
	height: 100vh;
	width: 20vw;
}

.shade-two {
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	z-index: 4;
	height: 100vh;
	width: 100vw;
	padding-left: 10vw;
}

.shade-three {
	background-color: rgba(0,0,0,0.6);
	height: 100vh;
	width: 100vw;
	padding-left: 15vw;
}

.header {
	width: 100vw;
	color: white;
	font-size: 40px;
	font-family: 'Petit Formal Script', cursive;
	padding-top: 5vh;
}

.sub {
	margin-left: 0;
	padding-right: 15vw;
	padding-top: 3vh;
}

.deets {
	margin-top: 65vh;
}


.head-div {
	background: no-repeat fixed;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
	z-index: 4;
}

.nav-head {
	color: white;
	font-family: 'Petit Formal Script', cursive;
	margin-top: 18vh;
}

.gen-info-div {
	font-size: 30px;
	color: white;
	float: left;
}

.sub-gen-div {
	margin-top: 20vh;
}

.head-img-div {
	margin-top: 20vh;
	margin-right: 8vw;
}

.head-img {
	height: 250px;
	width: 180px;
	margin-left: 8vw;
}

.left {
	display: inline-block;
}

.both {
	display: none;
	height: 300px;
	width: 250px;
}

.ceremony-ul {
	width: 30vw;
	float: left;
	margin-bottom: 5vh;
}

#ceremony-ul-id {
	margin-left: 8vw;
}

